p	{
	font-family: cursive;
	text-align: center;
}
h1	{
	color:#D7D7D7;
	font-family:fantasy;
	font-size: 50px;
	text-align: center;
}
h3	{
	text-align: center;
}
img	{
	border-color: #FFFD00;
	border-style: double;
	border-width: 10px;
}
.one	{
	color:#00E227;
}
.two	{
	color:#0D31D8;
}
.three	{
	color:#DA4034;
}
.four	{
	color:#A1E2AC;
}
body {
	background-color: #021465
}