p	{
	font-family: cursive;
	text-align: center;
	margin: 30px
}
h1	{
	color:#D7D7D7;
	font-family:fantasy;
	font-size: 50px;
	text-align: center;
}
h3	{
	text-align: center;
	font-size: 40px;
}
img	{
	border-color: #FFFD00;
	border-style: double;
	border-width: 10px;
	margin: 20px; 
}
.one	{
	color:#00E227;
}
.two	{
	color:#0D31D8;
}
.three	{
	color:#DA4034;
}
.four	{
	color:#A1E2AC;
}
body {
	background-color:#55BE7A;
}
.wrapper {
	width: 85%;
	margin:0 auto;
	background-color:  #021465;

}
.beginning	{
	font-size: 25px;
	font-family:sans-serif;
}
.end	{
	font-size: 40px;
	font-family: cursive;
}