body	{
	text-align: center;
}
h1	{
	color: #DF7226;
	margin: 0 auto;
	width: 60%;
	font-size: 60px;
	font-family: serif;
}
h2	{
	background-color: #C5CE5A;
	text-align: center;
	margin-bottom: 40px;
}
h4	{
	color: #5ACEB9;
	margin: 0 auto;
	width: 35%;
}
.floatl	{
	float: left;
}
.floatr	{
	float: right;
}
img	{
	border: 5px #C5CE5A solid;
	height: 300px;
	width: 300px;
	display: flow-root;
}
video	{
	border: 5px #C5CE5A solid;
	height: 300px;
	width: 300px;
	display: flow-root;
}
ol{
	display: flow-root;
}
.wrapper	{
	width: 80%;
	margin: 0 auto;
	border: 5px #C5CE5A solid;
	padding: 10px;
	background-color: #5B9663;
}
.cleared	{
	display: flow-root;
}
section	{
	padding: 10px;
	margin-bottom: 10px;
}
footer	{
	margin: 0 auto;
	text-align: center;	
	color: black;
	background-color:#DEE135;
	width: 80%;
	padding: 15px;
}
.colr {
	float: right;
	width: 65%
}
.coll {
	float: left;
	width: 30%;
}
ul	{
	text-align: left;
}
ol	{
	text-align: left;
}
.greenback	{
	background-color: #10570A;
}
.blueback{
	background-color: #0CCDF0;
}
.purpleback	{
	background-color: #C326DF;
}
.odd	{
	background-color: #272384;
}
.even	{
	background-color: #156DD7;
}
p {
	padding: 20px;
}
li	{
	padding: 20px;
	font-family: sans-serif;
}
.step	{
	font-size: 40px;
	color: #C5CE5A;
}
.header	{
	text-align: center;
	border: 2px #C326DF solid;
	padding: 5px;
	margin: 5px;
	background-color: #C326DF;
	color: #10570A;
}
.center	{
	text-align: center;
}
a:link	{
	color: #D7D7D7;
	text-decoration-color: black;
}
a:visited	{
	color: white;

}