
p	{
	font-family: cursive;
	text-align: center;
	margin: 30px;
	background-color: #D7D7D7;
	padding: 30px;
}
p:hover	{
	font-family: cursive;
	color: #D7D7D7;
	text-align: center;
	font-size: 42px;
	margin: 30px;
	background-color: #D7D7D7;
	padding: 30px;
}
h1	{
	color:#D7D7D7;
	font-family:fantasy;
	font-size: 50px;
	text-align: center;
}
h3	{
	text-align: center;
	font-size: 40px;
	color: #D7D7D7;
}
img	{
	border-color: #55BE7A;
	border-style: double;
	border-width: 10px;
	margin: 20px; 
	height: 300px;
}
body {
	background-color:#55BE7A;
}
.wrapper {
	width: 90%;
	margin:0 auto;
	background-color:#021465;
	padding: 20px;

} 
a:link	{
	color: #D7D7D7;
	text-decoration-color: black;
}
a:visited	{
	color: #55BE7A;

}