body, html {
    background-color: #f6f6f6;
}
#painting {
    background-color: #fff4db;
    width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 0px #8d8d8d;
}
.red {
    background-color: #cc3333;   
}
.blue {
    background-color: #3A91F2; 
}
.yellow {
    background-color: #D9F23A;   
}
.black {
    background-color: #000000;   
}
.right {
	float: right;
}
#bigbox	{
	width: 290px;
	height: 290px;
}
#divider1 {
    height: 290px;
    width: 10px;
}
#divider2	{
	height: 10px;
	width: 100px;
}
#divider3	{
	height: 10px;
	width: 400px;
}
#tallcolumn	{
	width: 100px;
}
#smallcolumn{
	width: 20px;
}
#toprow	{
	height:	290px;
}
#middlerow	{
	height: 100px;
}
.mediumbox	{
	width: 100px;
	height: 140px;
}
.widebox	{
	height: 100px;
	width: 260px;
}
.smallbox	{
	height: 45px;
	width: 20px;
}
.squarebox	{
	height: 100px;
	width: 100px;
}
.skinnybox	{
	height: 100px;
	width:	10px;
}
.smol 	{
	height: 10px;
	width: 20px;
}