.wrapper	{
	width: 80%;
	background-color: gray;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 40px;
}
h1	{
	font-size: 41px;
}
a {
	text-align: center;
	border: 2px black solid;
	padding: 5px;
	margin: 5px;
	background-color: pink;
	display: block;
}
nav	{
	text-align: center;

}