h1	{
	color:purple;
}
li	{
	color:navy;
	font-size: 30px;
	text-align: center;
}
p	{
	color:green;
	text-align: center;
}
img	{
	border-style: double;
	border-color: #A93264;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
